* {
    margin: 0;
    padding: 0rem; 
    font-size: 13px;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8rem;
}

a{
    color:white
}

a:hover {
    color: red;
}

hr {
    border-top: 2px solid #fe5656;
    border-radius: 10%;
}
/*            content wraper grid         */
#wrapper {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "header"
    "features"
    "pricing"
    "footer";
    background-color:#e6cabd;
    line-height: 1.5rem;
}
/*           #content wrapper        */

/*               header             */

#header {
    display: flex;
    grid-area: header;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background-color: #2e4450;
    position: fixed;
    top: 0px;
    width: 100%;
}

#logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90vw;
    padding: 2vw;
}

#header-img {
    width: 50%;
    height: auto;
}
    /* #header*/

    /* nav-bar*/
nav{
    color:white;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li{
    display: inline-block;
    padding: 0 2vw;
}
    /* nav-bar */

    /* features and form */
#features-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    

#form-features {
    grid-area: features;
    padding-top: 20vw;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form label {
    font-size: 2rem;
    text-align: center;
    padding-top: 2vw;
}

#form input[type=email] {
    width: 80vw;
    margin: 5vw 0;
    height: 7vw;
}

form #submit {
    padding: 2vw;
    background-color: #527c88;
    margin-bottom: 3vw;
    border: none;
    opacity: 1;
    transition: 0.3s;
}
form #submit:hover {
    opacity: 0.6;
}
    /*        #features and form      */

    /*          features             */
.features-pet {
    display: flex;
    align-items: center;
    padding: 6vw 4vw;
}

.features-pet h2 {
    font-size: 1.5rem;
    text-align: center;
}
.features-pet p {
    font-size: 1rem;
    text-align: center;
    padding: 2vw 0.5vw 1vw 0.5vw;
}

.icon {
    padding: 0.5vw 2vw;
}

.icon i {
    font-size: 3rem;
    color: #278084

}
    /*          #features             */

    /*           embed video         */
iframe {
        width: 90%;
        height: 45vw;
        padding: 0 5vw;
        margin-top: 3vw;
    }    
    /*           #embed video         */

    /*          pricing              */
.pricing-wrapper {
    grid-area: pricing;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    

.pricing {
    width: 45vw;
    height: 30vw;
    margin: 7vw 0;
    padding: 6vw;
    border: 1vw dashed #527c88;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.pricing button {
    background-color: #527c88;
    padding: 0.5vw 4vw;
    opacity: 1;
    transition: 0.3s;
    border: none;
}

.pricing button:hover {
    opacity: 0.6;
}
    /* #pricing */

    /* footer */
footer {
    grid-area: footer;
    background-color: #ddd;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 4vw 3vw;
}    

footer ul {
    display: flex;
    flex-direction: row;
}

footer ul a {
    padding: 0 1.3vw;
}
    /* #footer */

    /* ipad querry */
@media (min-width: 750px) {
    * {
        font-size: 16px;
    }

    #header{
        height: 16vw;
    }

}
    /* #ipad querry     */

    /*  1000px querry  */

@media (min-width: 1000px) {
    * {
        font-size: 18px;
    }
    
    #header{
        height: 10vw;
        margin-bottom: 20vw;
    }

    #header-img {
        width: 30%;
        height: 10vw;
    }

    .features-pet {
        display: flex;
        align-items: center;
        padding: 2vw 4vw;
    }

    #form {
        padding-top: 5vw;
    }

    #form input[type=email] {
        height: 5vw;
    }

    #form-features {
        padding-top: 10vw;
    }

    .pricing-wrapper {
        flex-direction: row;
    }
    
    .pricing {
        width: 20vw;
        height: 20vw;
        padding: 2vw;
        margin: 2vw 3vw;    
    }
}